<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Demographics</h3>
        </div>
        <div class="box-body">
          <div class="row card-group">
            <div class="col-sm-4">
              <div class="card" style="margin:10px; ">
                <div>
                  <img class="card-img-top" style="height:140px; width:200px"
                       src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg"
                       alt="Card image cap" />
                </div>
                <div class="card-body">
                  <h3>Personal Information</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="margin:10px; ">
                <div>
                  <img class="card-img-top" style="height:140px; width:200px"
                       src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg"
                       alt="Card image cap" />
                </div>
                <div class="card-body">
                  <h3>Rx Refills</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="margin:10px; ">
                <div>
                  <img class="card-img-top" style="height:140px; width:200px"
                       src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg"
                       alt="Card image cap" />
                </div>
                <div class="card-body">
                  <h3>Vital Signs</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row card-group">
            <div class="col-sm-4">
              <div class="card" style="margin:10px; ">
                <div>
                  <img class="card-img-top" style="height:140px; width:200px"
                       src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg"
                       alt="Card image cap" />
                </div>
                <div class="card-body">
                  <h3>Visit Summary</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="margin:10px; ">
                <div>
                  <img class="card-img-top" style="height:140px; width:200px"
                       src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg"
                       alt="Card image cap" />
                </div>
                <div class="card-body">
                  <h3>Reports</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="margin:10px; ">
                <div>
                  <img class="card-img-top" style="height:140px; width:200px"
                       src="https://creditkarmacdn-a.akamaihd.net/res/content/reviews/CCCitiBank1317/small.jpg"
                       alt="Card image cap" />
                </div>
                <div class="card-body">
                  <h3>Billing Statement</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
