<div class="content">
  <div class="o-c">
      <div class="card">
        <p class="a-o-i">Enter verification code</p>
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        <!--<span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span>-->

        <div style="padding-top:3rem">
          <button style="margin-right:9rem" (click)="onPrevClick()">
            < Back
          </button>
          <button class="primary sign_up" (click)="onNextClick()">
            Next >
          </button>
        </div>
      </div>
  </div>
</div>

